img {
    margin: 0 0 1rem 0;
    width: 325px;
}

h3 {
    font-size: 1rem;
    margin: 0 0 1rem 0;
}

.subheadings-container {
    display: grid;
    gap: 2rem;
}

.button-cont {
    margin: 1rem 0 0 0;
    height: 2rem;
    display: flex;
}

.downloadable {
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    border: 0;
    padding: 0.5rem 2rem;
    border-radius: 5rem;
    background-color: var(--secondary-color);
}

.downloadable:hover {
    background-color: var(--tertiary-color);
}